<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>JAYZ</h2>
            <h4>jayz.kmutt.mthcom@gmail.com</h4>
        </div>
        <img src="https://f1.pngfuel.com/png/386/684/972/face-icon-user-icon-design-user-profile-share-icon-avatar-black-and-white-silhouette-png-clip-art.png" alt="UNKNOWN">
    </div>

    <mat-divider></mat-divider>



    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>device_hub</mat-icon>
        Network
    </a>
    <!--<a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>